<%- include('partials/header.ejs') %>
<!-- banner -->
<div class="inside-banner">
  <div class="container">
    <span class="pull-right"><a href="/">Home</a> / Contact Us</span>
    <h2>Contact Us</h2>
  </div>
</div>
<!-- banner -->

<div class="container">
  <div class="spacer">
    <div class="row contact">
      <div class="col-lg-6 col-sm-6">
        <input type="text" class="form-control" placeholder="Full Name" />
        <input type="text" class="form-control" placeholder="Email Address" />
        <input type="text" class="form-control" placeholder="Contact Number" />
        <textarea
          rows="6"
          class="form-control"
          placeholder="Message"
        ></textarea>
        <button type="submit" class="btn btn-success" name="Submit">
          Send Message
        </button>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="well">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14461.366952407825!2d67.12329493671946!3d25.02247413741292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb346f4ee2f512f%3A0x75bf3f7abcacdafc!2sGulshan-e-Maymar%2C%20Karachi%2C%20Karachi%20City%2C%20Sindh%2C%20Pakistan!5e0!3m2!1sen!2s!4v1652002077407!5m2!1sen!2s"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>
