<!DOCTYPE html>
<html lang="en">
  <head>
    <title>E Gency</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/logo.png" type="image/x-icon" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicons -->
    <!-- <link href="img/favicon.ico" rel="icon"> -->
    <!-- <link href="img/apple-touch-icon.png" rel="apple-touch-icon"> -->

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:300,600,900|Raleway:300,400,500&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Main Stylesheet File -->
    <link href="/assets/pricing_style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Pricing Table 5 Start -->
    <div class="pricing-table-title">
      <a href="/"><img src="/images/logo.png" height="250px" alt="Home" /></a>
      <h2>Subscription Prices</h2>
    </div>
    <div class="pricing-table table-5">
      <div class="ptable-item">
        <div class="ptable-single">
          <div class="ptable-header">
            <div class="ptable-title">
              <h2>Silver</h2>
            </div>
            <div class="ptable-price">
              <h2><small>Rs.</small>2,000<span>/ M</span></h2>
            </div>
          </div>
          <div class="ptable-body">
            <div class="ptable-description">
              <ul>
                <li>Listing of 10 Houses</li>
                <li>2 Featured Houses</li>
                <li>No Advertisement</li>
                <li>No Promotional Content</li>

              </ul>
            </div>
          </div>
          <div class="ptable-footer">
            <div class="ptable-action">
              <form method="post" action="/subscribe">
                <input type='hidden' name="price" value="2000"/>
                <input type='hidden' name="Package" value="Silver"/>
                <button type="submit" style="border:none;"><i class="fa fa-shopping-cart"></i>Buy Now</button>
            </form>
            </div>
          </div>
        </div>
      </div>

      <div class="ptable-item featured-item">
        <div class="ptable-single">
          <div class="ptable-header">
            <div class="ptable-title">
              <h2>Gold</h2>
            </div>
            <div class="ptable-price">
              <h2><small>Rs.</small>3,500<span>/ M</span></h2>
            </div>
          </div>
          <div class="ptable-body">
            <div class="ptable-description">
              <ul>
                <li>listing of 100 houses</li>
                <li>10 Featured Houses</li>
                <li>Advertisement Included</li>
                <li>No Promotional Content</li>

              </ul>
            </div>
          </div>
          <div class="ptable-footer">
            <div class="ptable-action">
              <form method="post" action="/subscribe">
                <input type='hidden' name="price" value="3500"/>
                <input type='hidden' name="Package" value="Gold"/>
                <button type="submit" style="border:none;"><i class="fa fa-shopping-cart"></i>Buy Now</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="ptable-item">
        <div class="ptable-single">
          <div class="ptable-header">
            <div class="ptable-title">
              <h2>Platinum</h2>
            </div>
            <div class="ptable-price">
              <h2><small>Rs.</small>5,000<span>/ M</span></h2>
            </div>
          </div>
          <div class="ptable-body">
            <div class="ptable-description">
              <ul>
                <li>Unlimited Listing</li>
                <li>30 Featured Houses</li>
                <li>Full Advertisement Package</li>
                <li>Promotional Content</li>
              </ul>
            </div>
          </div>
          <div class="ptable-footer">
            <div class="ptable-action">
              <form method="post" action="/subscribe">
                <input type='hidden' name="price" value="5000"/>
                <input type='hidden' name="Package" value="Platinum"/>
                <button type="submit" style="border:none;"><i class="fa fa-shopping-cart"></i>Buy Now</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Pricing Table 5 End -->
  </body>
</html>
